[2018-05-07 19:34] Sifogiannos opened #1 "Pokemon Egg Distance"
Could it be easy to add pokemon egg distance?

[2018-05-07 19:54] BrunnerLivio commented on #1
I'm actually unable to find that information in the GAME_MASTER files.

Maybe you have more luck. [Search here](https://raw.githubusercontent.com/pokemongo-dev-contrib/pokemongo-json-pokedex/master/src/data/GAME_MASTER.json)

[2018-05-08 17:41] Sifogiannos commented on #1
As i can see, in the specific file "GAME_MASTER" there is none data for pokemon egg distance, we should probably import another file that contain that data.

[2018-05-08 18:13] BrunnerLivio commented on #1
I don't like relying on third party services. Any suggestions though?

[2018-05-09 05:14] Furtif commented on #1
Look [this](https://github.com/Furtif/Account-Manager/blob/master/PokemonGoGUI/UI/DetailsForm.cs#L672)

[2018-07-03 16:46] mathiasbynens opened #2 "Incorrect names for Farfetch'd and Mr. Mime"
The current JSON says “Farfetchd” but it should be “Farfetch'd”.

The current JSON says “Mr Mime” but it should be “Mr. Mime”.

[2018-07-04 08:08] BrunnerLivio commented on #2
Good catch! Created a PR for this. See #3. Feel free to review it. If everything is fine, I'll merge it tomorrow.

[2018-07-04 08:18] BrunnerLivio commented on #1
Kinda forgot this issue, sorry about that.
@Furtif thanks for this snippet. I do not want to debug your code; can you elaborate how you calculate this? Like which data from the GAME_MASTER.json is needed in order to calculate the Egg Distance?

[2018-07-04 09:33] #2 closed

[2018-07-07 17:20] feralheart opened #4 "[Question]: What intervals does these jsons are updated?"
Just question that what time interval should I set up the cron to get always the latest.

[2018-07-08 12:37] BrunnerLivio commented on #4
Depends on your service, but I think daily interval is fine. The shorter interval the better I guess, but I think it is up to you.

[2018-07-13 17:04] Drexlin opened #5 "Include Legacy Moves"
In your deprecated repo, there was an open issue for including legacy moves. Do you have plans to include them in this repo?

Also, to add another wrinkle... In every GAME_MASTER file I've seen, I've never seen the special Community Day moves listed. Is there any way to get them, other than adding them manually to my database?

[2018-07-13 18:44] BrunnerLivio commented on #4
Closing issue because it is not directly related to this repository

[2018-07-13 18:44] #4 closed

[2018-07-13 18:49] BrunnerLivio commented on #5
How do I get this information? Are they in older GAME_MASTER files? Can I use the pokemongo-game-master repo to gather this information? Are legacy moves still associated with the current Pokemons?

I do not want to include data from not reliable sources. Is there a reliable source to receive this data?

[2018-07-13 18:52] celandro commented on #5
I manually update my copies. Its a pain for sure. There is no automated way
to do this.

If we wanted to make 'small' jsons that only had the pokemon from community
day and its moves from that day, I think that would be useful

On Fri, Jul 13, 2018 at 11:49 AM, Livio Brunner <notifications@github.com>
wrote:

[2018-07-13 19:35] Drexlin commented on #5
You would have to process all GAME_MASTER files from the beginning of time. But you would only need to do this once. Then, on subsequent releases of the GAME_MASTER file, you could update pokemon.json if it's changed. What I do for my database is for each pokemon, I first mark all moves as 'legacy'. Then I read the new GAME_MASTER file and mark all moves in that file as 'current'.

Well, the moves

[2018-07-13 21:18] BrunnerLivio commented on #5
@Drexlin
Seems to be doable. Can you send me which versions are affected of this, so I can take this over?

@celandro

Seems to be a use case for a new repository. How do you copy this by yourself? If we maintain this in a repository we could include it into this repository.

[2018-07-13 21:29] celandro commented on #5
I have an abridged history that could be transformed into what is used
here. I don't think a different repo is warranted, I think just a special
event directory is sufficient.

On Fri, Jul 13, 2018, 2:18 PM Livio Brunner <notifications@github.com>
wrote:

[2018-07-18 17:35] Drexlin commented on #5
So just to recap, trying to make sure I understand where we are and if anything is needed from me...

@celandro can provide an updated pokemon.json (in the format that is used for this repo) that will contain legacy moves, which can be used as a starting point for future GAME_MASTER file processing. If you don't have time to do this, I can certainly try, if you can provide me your "abridged histor

[2018-07-18 17:39] BrunnerLivio commented on #5
@celandro

Where should this directory belong to? pokemongo-game-master?

@Drexlin yep thats how I understood it too.

[2018-07-18 18:16] celandro commented on #5
Make a new directory in pokemongo gamemaster. 1 heavily abridged file for
each community day with a date. Same format as the current json, just a few
entries for the Pokemon and moves that was available that day. What this
repo does with it is up to this repo.

I have most of the files ready to go just unlabeled. I can make a branch
with them.

On Wed, Jul 18, 2018, 10:39 AM Livio Brunner <notific

[2018-07-23 11:15] feralheart commented on #4
Thank you :)

[2018-07-23 11:19] feralheart opened #6 "Mew: duplicate cinematic moves"
Some of Mew's cinematic moves are duplicated (for example Solar Beam)

[2018-07-23 11:21] feralheart opened #7 "Raids"
Is there any chance to get a JSON with the current Raid Boss Meta? :)

[2018-07-23 15:28] whaevr commented on #6
it is like this in the official game_master as well, I'm guessing to make it so certain moves have a higher chance of being chosen in the randomized TM reroll

![image](https://user-images.githubusercontent.com/3944383/43086502-7a093a5e-8e6b-11e8-9cd3-d022bf5c0d1f.png)

[2018-07-23 15:34] whaevr opened #8 "Id field on pokemon is not unique since Alolan forms were added"
For example there are 3 entries with the id of RATTATA, looking at the template_id for RATTATA in decompiled game_master I see the following

[code]

same with exeggutor and any other 'mon that has an alolan form

Odd they decided to make a third "NORMAL" entry for these but, should template_id be used in place of pokemon_id since it is truly unique?

[2018-07-24 21:50] luissmg commented on #8
I am having the same problem here. That third element is unnecessary, it does not bring any value.
About the Alolan form... Ye, there should be at least a way of identifying the form of the pokémon. That would make my life easier too cause I can show different images for both types.

[2018-07-25 11:18] BrunnerLivio commented on #8
Sorry for the late response. I was enjoying the sun during my holidays ;)
Good catch!

See PR #9. Review if you see something, otherwise I'll merge it in 2 days. I also added test cases for this, which made me realize the id for Nidoran Male / Female was not unique too. Fix that one too..

Thanks for your contribution

[2018-07-25 11:20] BrunnerLivio commented on #7
I do not play the game anymore, so I do not know how this information looks like.

Do you know where I get this information from? Is there any data of this inside the [GAME_MASTER.json](https://github.com/pokemongo-dev-contrib/pokemongo-json-pokedex/blob/master/src/data/GAME_MASTER.json)?

[2018-07-25 11:24] Drexlin commented on #7
I don't believe that information is in the GAME_MASTER file.

On Wed, Jul 25, 2018, 7:20 AM Livio Brunner <notifications@github.com>
wrote:

[2018-07-25 11:32] feralheart commented on #8
Also Dexys and Castform has duplicated normal and three alternativa forms with not unique id.
Castform forms:

- Normal
- Water
- Ice
- Fire

Deoxys forms:

- Normal
- Attack
- Defense
- Speed

For castform easy to distinguish them becouse of the type, but for Deoxys it's vare hard (all Deaxys has 1/1/1 stats in the GM.json and same type same moveset)

I made a function in my class what looks afte

[2018-07-25 11:37] feralheart commented on #7
I also didn't found anything in that json :/

[2018-07-25 11:37] feralheart opened #10 "Items"
Can you make an items JSON? :)
For example: berries, balls, consumables, etc.

[2018-07-25 11:50] BrunnerLivio commented on #6
Looked into it and Mew seems to be the only one with this issue. If anyone knows more about this, please let me know.

In the meantime I've created a PR [#11](https://github.com/pokemongo-dev-contrib/pokemongo-json-pokedex/pull/11/commits/e7d9f46f33fc9c62060fe1c36b87d7c559e22e3f) which fixes this. Feel free to review, otherwise I'll merge in 2 days

[2018-07-25 11:53] BrunnerLivio opened #12 "Add Items"
## Metadata
JSON Key: itemSettngs
Outputfile: item.json
**Unanswered Questions:**
- food.itemEffect: What does this do? Is it needed?
- food.itemEffectPercent: What does this do? Is it needed?
- food.growthPercent: What does this do? Is it needed?

## Example
[code]

## Expected Output
[code]

[2018-07-25 11:53] BrunnerLivio commented on #10
I've created an issue for this on the old, deprecated repo. Forgot to move the issue. See #12.

Did not start to implement it because of the unanswered questions and because I'm quite busy :)

[2018-07-25 12:06] BrunnerLivio commented on #8
What are "*_NORMAL" forms actually for? They seem like the default version, but with less information? E.g. MAROWAK_DEFAULT does not store pastBranches compared to MAROWAK.

I can remove these "duplicates" if they do not bring any benefit..

[2018-07-25 12:13] feralheart commented on #12
food.itemEffect: It's needed becouse it show's what the berry do.
Possible input's right now:

- ITEM_EFFECT_CAP_NO_MOVEMENT(the berry what does this isn't currently obtainable in the game)
- ITEM_EFFECT_CAP_CHANCE_SINGLE_THROW (Razz and Golden Razz. Easier to catch the Pokemon with it)
- ITEM_EFFECT_FULL_MOTIVATION (Golden Razz. when feeded in gym it fill the motivation bar)
- ITEM_EFFECT_CAP_TAR

[2018-07-25 13:42] BrunnerLivio commented on #12
Alright, started a new branch. See #13

[2018-07-25 15:44] celandro commented on #7
It is not in the json. I create one manually currently but I have a story
to move to a database to generate the raids. I think its what everyone is
looking for.

On Wed, Jul 25, 2018 at 4:37 AM, feralheart <notifications@github.com>
wrote:

[2018-07-25 18:59] BrunnerLivio commented on #7
@celandro  I would love to consume this data with pokemongo-json-pokedex. Can you make this public / opensource?

[2018-07-25 19:06] feralheart commented on #7
I made a workaround until it isn't in the JSON.
I made a public variable in the class, what's an array with the raids.

Livio Brunner <notifications@github.com> ezt írta (időpont: 2018. júl. 25.,
Sze 21:03):

[2018-07-25 20:19] luissmg commented on #8
@BrunnerLivio First of all, hope your holidays were awesome :)
Second, I think the `Nidoran` case is pretty much good covered. Forgot to mention that.
I think that @feralheart is right. Those 2 Pokémon have 4 different types each.

I think that in those cases and with the Alolan there should be a new property in the json called `forms` or something like that for them.
I saw you changed the `ID` to

[2018-07-25 20:43] celandro commented on #7
I can make a db table and a public read api. I dunno if i want to bother
with an admin api. If someone wants to help with this mini project, I can
provide hosting and api design work

On Wed, Jul 25, 2018 at 12:03 PM, Livio Brunner <notifications@github.com>
wrote:

[2018-07-25 21:07] whaevr commented on #8
I think the json shouldn't be changed too much from the existing game_master. Having 2 Rattata is fine as long as there is a way to distinguish with certainty that one is alolan.

Adding extra fields and shuffling the data around seems like something that shouldn't be done here if this project focus is translating the game_master to json format

[2018-07-25 21:21] luissmg commented on #8
How do you detect the normal form of `Deoxys` and `Castform`? There should be a way to get that information.
And how do you detect if it is the Alolan version? Detect if the ID as `_ALOLAN` in it?

[2018-07-25 21:38] whaevr commented on #8
template_id gives us all that information, the different forms of deoxys have the form name in the id. Same with castform. If there is no additional form name in the template_id you can assume its the normal

[2018-07-25 22:51] luissmg commented on #8
Hmmmm Ok, so maybe the trick is to check if the `id` is different from the `name`. If it is, it probably is because it's not the normal form.
Ye, I can live with that. But only if no one as the idea to add a Pokémon where the `name` also contains the form. That would break all the verifications.

[2018-07-26 03:41] Danbardo opened #14 "Pokemon duplicates"
Hey,

Thanks for this database, it's awesome.

I was just having a look around and it seems like there are a bunch of duplicates within the Pokemon JSON data.

For example, Geodude, Sandshrew, Meowth and their evolutions.

It looks like there are triples of each, where two are duplicates and the third has a different type (I think that's the regional type).

I am probably just missing something he

[2018-07-26 08:54] BrunnerLivio commented on #8
As far as I understood @luissmg you suggested something like this:

# Forms Map

[code]

I think adding a "map" to the other forms is reasonable. But the other forms should stay a seperate Pokemon entry in my opinion, as I did implement it at the moment in #9.

I'll make a seperate issue for this map and merge #9 as soon as its ready beforehand. Thats because I currently have a lot of pending PRs

[2018-07-26 08:59] BrunnerLivio commented on #14
Thanks for your issue!

This is a duplicate of #8. The PR #9 will fix this.

[2018-07-26 08:59] #14 closed

[2018-07-26 15:59] #12 closed

[2018-07-26 16:07] BrunnerLivio commented on #8
Oops merged #9 by accident :) I think I won't revert it and apply the proposed changes in a new PR

[2018-07-26 16:12] #6 closed

[2018-07-26 16:20] BrunnerLivio opened #15 "Generate documentation automatically from output/ models"
Automatically generate markdown files or a HTML website. If there is no solution fitting for that, consider using [ts-simple-ast](https://github.com/dsherret/ts-simple-ast)

[2018-07-26 17:14] BrunnerLivio commented on #7
@celandro I'm busy with a lot of other stuff, so for my own good I have to pass on that :/

[2018-07-26 20:24] whaevr commented on #8
@BrunnerLivio you are correct that alolan forms only evolve into alolan evolutions! Its all new to me aswell, I didn't play Sun/Moon myself but am kinda interested in doing so after seeing them in Pogo. There are some interesting cases currently such as Alolan Marowak being a raid boss currently but alolan cubone is currently absent from Go. Same situation with Raichu/Pikachu, alolan raichu is a r

[2018-07-26 21:21] celandro commented on #7
you and me both

On Thu, Jul 26, 2018 at 10:14 AM, Livio Brunner <notifications@github.com>
wrote:

[2018-07-26 21:31] BrunnerLivio commented on #7
I guess this issue won't be resolved until we find time (which may never happen haha) or someone contributes. Sorry about that :(

[2018-07-26 23:12] luissmg commented on #8
Hey guys, could not responde until now.

Yes @BrunnerLivio, that is what I was suggesting. What you propose is really the best approach into this! I agree with you.

Abiut the normal forms, I also agree on this. If they are indeed the same, they become useless in the json.

Yes, I played Sun and Moon and the Alolan forms only evolve into Alolan forms, sorry for not bringing it up before. I did mis

[2018-07-26 23:17] luissmg commented on #8
As I remember... Since you brought Pikachu into the conversation. In the Sun and Moon, there are only the Alolan versions of the Pokémon. So, a Pikachu will always evolve into the Alolan Raichu.

In Pokémon GO that is not the truth, as far as I know. You evolve Pikachu into a normal Raichu and you can catch an Alolan Raichu. Please, correct me if I am wrong!

So, I would just fix the Geodude evolu

[2018-07-27 17:23] luissmg commented on #7
I think I can give it a try. Please send me an email :)

[2018-07-27 17:55] celandro commented on #7
@luissmg

This is my current raids file: https://gist.github.com/celandro/44d3590c6a9b3e25f10d1011c4f78f06

I have full history sitting in my git repo

Current issues:

- Parameter names are strange. 'tier' is really just some sort of classification', 'guessTier' is the actual tier
- List of possible Pokemon for unknown raids is incomplete. Should just have every pokemon in pokedex order
- level 5

[2018-07-29 11:39] luissmg commented on #7
Hey @celandro, I have low time available, working on something for me and during the week is kinda tight

[2018-08-01 19:33] na-ji opened #17 "Internationalization"
Hello!

## Feature Request

**Is your feature request related to a problem? Please describe.**
It would be useful if the output also included the translation of the names. At least for the Pokemon names and the moves names. The translations are not in the Game Master, but there are a few ways to find it.

**Describe the solution you'd like**
I found that translations are saved in the game assets.

[2018-08-02 07:19] BrunnerLivio commented on #17
Great issue! Thanks for digging out the needed information.
So the new model for pokemon would be something like:

[code]

I would be fine with that. Should be possible, I'll have a look into it!

[2018-08-02 07:23] BrunnerLivio opened #18 "Alolan Pokemons should evolve in the Alolan Evolution"
## Expected Behavior

Alolan Pokemons should only have Alolan Evolutions

## Current Behavior

At the moment Alolan Pokemons show their default (non-Alolan) evolution.

## Context (Environment)

pokemongo-json-pokedex version: 3.1.2

[2018-08-02 07:24] BrunnerLivio commented on #8
I've merged #16 so now `*_NORMAL`-Pokemons are deleted.
I'll close this issue but created #18 to keep track of the Alolan Evolution Bug.

Thanks for your contributions!

[2018-08-02 07:24] #8 closed

[2018-08-02 07:31] BrunnerLivio opened #19 "Asynchronous components"
**Describe the solution you'd like**

Asynchronous or synchronous components

[2018-08-02 07:46] na-ji commented on #17
Thanks @BrunnerLivio!

[2018-08-02 09:36] #19 closed

[2018-08-02 11:41] luissmg opened #21 "Add Pokédex entry"
I think it would be cool to have both the Pokédex entry number and description in the Pokémon json.
Right now there is a property `dex` that corresponds to the Pokédex entry number.
My suggestion is to make something like this (if we don't want another field with duplicate information):

[code]

I don't think that this information is in the GAME_MASTER. Does anyone know where it might be?

[2018-08-02 11:55] BrunnerLivio opened #22 "Add Item descriptions"
## Feature Request

**Describe the solution you'd like**

Items should a description. This can be found from the PogoAssets repo inside the [items.txt](https://github.com/ZeChrales/PogoAssets/blob/master/decrypted_assets/items.txt) file

The new model could look like:

[code]

[2018-08-02 12:15] BrunnerLivio commented on #21
Maybe you can find something in this repository https://github.com/ZeChrales/PogoAssets/tree/master/decrypted_assets

Are there even any descriptions in Pokemon GO for Pokémons? I do not find any?

[2018-08-02 13:28] luissmg commented on #21
Yes, in the Pokédex. When you view a Pokémon you already caught you see something like this:

<details>
  <summary>Bulbasaur Pokédex entry</summary>

  ![screenshot_20180802-142207](https://user-images.githubusercontent.com/20660551/43586581-eeab2d8a-965f-11e8-9ffd-146e0f3e78b0.jpg)
</details>

I will take a look into that repository **today** ASAP!

[2018-08-02 13:35] luissmg commented on #21
Actually took a look into that now. It was easy to find the file that contains that info.
Check [this](https://github.com/ZeChrales/PogoAssets/blob/master/decrypted_assets/pokemon.txt) out!
It contains Pokémon names, descriptions and categories.

[2018-08-02 13:37] BrunnerLivio commented on #21
@luissmg
Oh I see! Good catch, thats should be doable. Adding to milestone 3.2.0

[2018-08-02 13:57] BrunnerLivio commented on #18
Fixed with #23

[2018-08-02 13:57] #18 closed

[2018-08-02 15:41] luissmg commented on #21
@BrunnerLivio Let me know if you need any help :)

[2018-08-02 17:19] celandro commented on #22
I recommend using something that can be handled by weblate and standard
i18n libs. I have examples if you want them

On Thu, Aug 2, 2018, 4:55 AM Livio Brunner <notifications@github.com> wrote:

[2018-08-02 18:08] BrunnerLivio commented on #22
@celandro do not have a lot of experience with that. Can you hand me these examples over?

[2018-08-02 18:13] celandro commented on #22
This is my translations repo:
https://github.com/celandro/pokebattler-fight/tree/master/locales

Translation site: https://translate.pokebattler.com

The library I use: https://www.i18next.com/

On Thu, Aug 2, 2018 at 11:08 AM, Livio Brunner <notifications@github.com>
wrote:

[2018-08-03 12:37] BrunnerLivio commented on #22
[code]

So I guess it could look like this. The key of the locales file is the ID of a `pokemon.json` entity. So if you have a i18n client installed, you can easily iterate through the `pokemon.json` file and then request the translation using the `pokemon.id` as translation-key.

[2018-08-03 12:40] BrunnerLivio commented on #17
@na-ji  Changed the structure of the translation. See #22

[2018-08-03 13:58] na-ji commented on #17
I like this structure!

[2018-08-03 15:31] celandro commented on #22
That would work. Lets you add description as well.

I definitely would NOT copy what I have done. Its pretty disorganized

On Fri, Aug 3, 2018 at 5:37 AM, Livio Brunner <notifications@github.com>
wrote:

[2018-08-03 16:01] BrunnerLivio commented on #22
@celandro I'll use the [PogoAssets](https://github.com/ZeChrales/PogoAssets) repo

[2018-08-03 20:24] luissmg opened #25 "Buddy size field"
I was looking into the json and the field with the buddy size is not always defined. Can you explain why or which are the cases where it does not get defined?

[2018-08-04 10:45] luissmg opened #26 "Ho-Oh name in the json is wrong"
Ho-Oh name in [pokemon.json](https://github.com/pokemongo-dev-contrib/pokemongo-json-pokedex/blob/master/output/pokemon.json) is incorrect. It as a space instead of a hyphen.

## Expected Behavior
Expect the name to be Ho-Oh.

## Current Behavior
The name right now is Ho Oh.

## Context (Environment)

pokemongo-json-pokedex version: 3.1.3

[2018-08-04 10:46] luissmg commented on #25
Just realized the same happens with the `rarity` field.

[2018-08-06 06:57] imiguelacuna opened #27 "Blissey is Missing Cinematic Moves"
Blissey only has PSYCHIC as charge/cinematic move on pokemon.json

## Expected Behavior
Blissey should have
"PSYCHIC",
"HYPER_BEAM",
"DAZZLING_GLEAM"

## Current Behavior
Only has "PSYCHIC"

[2018-08-06 07:22] BrunnerLivio commented on #25
# BuddySize

I actually do not have a clue why it is sometimes present, and sometimes not. I've created a small script which checks which Pokemon do not have any buddySize. The output does not really show a pattern for me:

[code]

Maybe this field is deprecated?

# Rarity

Just investigated a little bit. `rarity`seems to be only present when the Pokemon is of the type `Legendary` or `Mythic`.

I

[2018-08-06 07:24] BrunnerLivio commented on #27
Yup, seems to be a bug. Thanks for reporting! Will investigate further into that

[2018-08-06 07:44] imiguelacuna commented on #27
~~Seems like every _NORMAL pokemon is affected by this bug~~

Nevermind, all pokemon are affected, they only have one charge/cinematic move.

[2018-08-06 07:56] luissmg commented on #25
Thanks for the clarification! It's not necessary to add the `Normal` rarity, one can predict that on the code.
The size is what triggers me the most haha Will try to check. Maybe all those pokémon are small or medium... I don't know

[2018-08-06 08:07] BrunnerLivio commented on #25
@luissmg Unfortunately I do not have time to investigate more onto this. If you find something out, I'm more than happy to know. I'll leave this issue open, in case someone knows more.

[2018-08-06 08:17] luissmg commented on #25
@BrunnerLivio I will take a look into the list you provided and verify their rarity :)

[2018-08-06 18:45] luissmg commented on #25
@BrunnerLivio, got some news. About the `buddySize`, the ones that have no buddy size, as far as I can tell and searched, correspond to `Medium`!

As far as `Rarity`concerns... I couldn't find anything to extract data. But I found one site that mentions different rarity for every pokémon. Don't know how they get that info.

[2018-08-07 07:06] BrunnerLivio commented on #25
@luissmg Thank you for the update.

From where did you get that information?

[2018-08-07 09:12] luissmg commented on #25
@BrunnerLivio I checked [this website](https://rankedboost.com/pokemon-go/bulbasaur/) and tested for some cases of the list and they were all `Medium`.

[2018-08-07 12:47] #17 closed

[2018-08-07 12:47] #21 closed

[2018-08-07 12:47] #22 closed

[2018-08-07 17:56] BrunnerLivio opened #29 "Create example Pokedex"
## Feature Request

**Describe the solution you'd like**

I would like to have a public example of the pokemongo-json-pokedex.

[2018-08-07 19:26] feralheart commented on #29
I creating a Telegram/Facebook pokedex bot with counter calculators and other features :smiley:

[2018-08-07 19:47] BrunnerLivio commented on #29
@feralheart Nice to hear! But with this issue I thought about a small website built with Jekyll or Vue which really simply visualizes the data of pokemongo-json-pokedex

[2018-08-08 08:53] luissmg commented on #29
@BrunnerLivio If you want I can help you create a simple GitHub Pages. Does that suit your purpose?

[2018-08-08 11:25] BrunnerLivio commented on #29
@luissmg I was thinking about something real simple. Should be a as-small-as-possible example for the [samples/](https://github.com/pokemongo-dev-contrib/pokemongo-json-pokedex/tree/master/samples) folder.

Something like that:
![Mockup](https://i.imgur.com/mw6bmQe.png)

It is just important, that it has a lot of code comments how you access the data, and it should show how you can change the lang

[2018-08-08 15:28] luissmg commented on #29
Will give it a try in the next few days!

[2018-08-10 11:38] feralheart opened #30 "New languages"
## Feature Request
Can we add new languages? For example translating the strings manually (I can add two languages)

[2018-08-10 12:24] BrunnerLivio commented on #30
As far as I know the current languages are the only one supported by Pokemon GO. So how do you want to translate Pokemon Go-only entities?

[2018-08-10 12:31] feralheart commented on #30
- I would write to Niantic that "I translated your app, please include it"
- I would make a file based on the output's locale files

[2018-08-10 12:35] BrunnerLivio commented on #30
@feralheart If your translations would get accepted & released by Niantic, this repository would automatically adapt it, because these translations would be an asset of the Pokemon GO app then, which gets automatically consumed by this repository.

But to be honest, I doubt Niantic will accept any translations from strangers.
So I won't accept a language PR, except it is already implemented in Pok

[2018-08-13 08:17] feralheart commented on #30
I sent them an e-mail but I didn't got any response yet :sweat_smile:

[2018-08-13 08:34] BrunnerLivio commented on #27
Fixed with #31

[2018-08-13 08:34] #27 closed

[2018-08-13 08:38] BrunnerLivio commented on #26
Fixed with #32. Thanks for your contributions! :)

[2018-08-13 08:38] #26 closed

[2018-08-13 08:51] BrunnerLivio opened #33 "Run samples in the Pipeline"
## Feature Request

**Is your feature request related to a problem? Please describe.**
The samples represent the requirements. If these samples are not executable, the pull request / commit is faulty.

**Describe the solution you'd like**

Execute the samples in the pipeline.

[2018-08-13 09:22] luissmg commented on #26
Thank you so much for keeping this updated and responding to every single issue! 😃 👍

[2018-08-13 09:41] BrunnerLivio commented on #26
@luissmg  Trying my best! :D

[2018-08-15 19:16] luissmg commented on #25
@BrunnerLivio What do you want to do here? And can I help?

[2018-08-15 20:10] BrunnerLivio commented on #25
@luissmg I want add to each pokemon, which does not have any buddy size, the type medium. Should be rather easy to add this, but I am quite busy at the moment. You can add it yourself if you need it urgently, or I’ll do it next week (or maybe even this week).

[2018-08-15 21:16] luissmg commented on #25
@BrunnerLivio I don't need it urgently but I would like to contribute to this repo since I am using it and it is really good and you are such a nice guy 😸

[2018-08-16 08:14] BrunnerLivio commented on #25
@luissmg Always open for pull requests :) The best way to start is probably the fille `pokemongo-json-pokedex/src/processing/pokemon/components/buddySize.ts`. I think this should be possible in one line of code :P Good luck!

Would be nice if you add 1-2 additional test cases to your implementation.

[2018-08-16 10:23] luissmg commented on #25
Ye, this one should be a trivial one line code fix haha Anyway, will make a PR today more at the end of the day with the changes and with test cases!

[2018-08-16 13:37] #25 closed

[2018-08-18 12:15] BrunnerLivio opened #36 "Publish on release tag on npm and dockerhub"

[2018-09-14 10:10] feralheart commented on #29
My PokeDex bot is finally in OpenBeta! :)
[PokeHelper](https://m.me/PokeHelperBot)
It creates DexCards, like this:
![ho_oh](https://user-images.githubusercontent.com/3487559/45544260-20de5380-b817-11e8-8908-2e30e75e8bfa.jpg)

[2018-09-14 11:03] BrunnerLivio commented on #29
@feralheart looking good! :) So that uses the data of pokemongo-json-pokedex, right?

By the way the url is dead you've entered.

[2018-09-20 12:38] feralheart opened #38 "Deoxys Data"
Deoxys only has 1 Attack 1 Defense and 1 Stamina in the output files

[2018-09-20 12:41] feralheart commented on #29
Thank you :)

Yes, I created it from the data of the output files and from an outer reference (the Legacy Moves), with the help of a Graphic Designer friend :)

I edited the URL.

[2018-09-27 06:13] feralheart opened #39 "Mewtwo moves"
Mewtwo moves are not up-to-date.
Yesterday I caugh a Mewtwo with Thunderbolt, but Thunderbolt isn't on that list.

[2018-09-27 06:17] feralheart commented on #5
I made a function in a controller what gives back the array of Legacy Moves. And when I parse the pokemon.json with my app, it also adds the Legaxy Moves

[2018-09-27 14:24] feralheart commented on #38
The new release solved this :)

[2018-09-27 14:32] BrunnerLivio commented on #5
Can you share this implementation @feralheart ?

[2018-09-27 14:33] BrunnerLivio commented on #39
Please create an issue on [pokemongo-game-master](https://github.com/pokemongo-dev-contrib/pokemongo-game-master)

[2018-09-27 16:26] celandro commented on #39
See https://github.com/pokemongo-dev-contrib/pokemongo-game-master/pull/22

[2018-10-02 08:38] feralheart commented on #39
@BrunnerLivio when will @celandro 's fix implemented?

[2018-10-02 12:58] BrunnerLivio commented on #39
I am not quite sure how I want to implement that actually, and quite frankly I am more than busy at the moment. Any proposals

[2018-10-11 05:50] feralheart commented on #39
Can I help somehow to improve the feature/bugfix release time?

[2018-10-11 09:59] BrunnerLivio commented on #39
@feralheart
You could try and create a pull request yourself. Basically you need to fetch the files from pokemongo-game-master and run the files in the exisiting pipeline, then wirte it to the file system

[2018-10-16 15:30] feralheart opened #40 "New GM file"
There is 2 new Game Master files what wasn't ran through this package

[2018-10-17 11:06] Sil3ntStorm opened #41 "Doesn't work with latest Gamemaster"
[code]

[2018-10-17 18:18] Drexlin commented on #41
I got the same error. Is any body working on this @BrunnerLivio ? I rely on this repo to update my database.

[2018-10-17 19:12] BrunnerLivio commented on #41
I am currently super busy. Do not know when I have time for this. I highly encourage you to fix it your self though. Otherwise you'll have to wait earliest mid next week.

[2018-10-17 19:13] BrunnerLivio commented on #40
In such cases please run it yourself using docker and create a PR. At the moment we're having a bug #41 though.

[2018-10-17 19:30] Drexlin commented on #41
I apologize, I wrote that message in haste. I'm just a little frustrated. I appreciate the work that you guys put into this repo and did not mean it to sound like I don't.

I can of course try to take a look at this, but I'm not really familiar with the code. It would probably take me until next week to even figure it out.

[2018-10-17 19:37] BrunnerLivio commented on #41
@Drexlin Do not worry, I did not pick it up badly :) I agree, as a good maintainer I should look into these kinds of things, but handling a full time job and several Github repositories I contribute to is not easy and really time consuming. I still want to have some free time :tada:

Your choice whether you wait for me to fix it, or do it yourself...

[2018-10-17 20:57] Sil3ntStorm commented on #41
would certainly try, but I don't have the slightest idea how this stuff works, and so far any attempts have failed to even get it running with debug in VS Code.
First it complains about a bunch of files being there, which are apparently magically generated somehow on each debug session (and have to be deleted), then it complains about not finding things for no apparent reason...

Guess I'll have t

[2018-10-17 22:17] haynesherway commented on #41
I was trying to look into it as well, and was able to get the first error to go away by adding a check for undefined, but then just got an error for something else that was undefined. It appears that objects are being used without checking that they are initialized?

[2018-10-18 15:39] rjwut opened #42 "Sinnoh Region Pokémon"
## Feature Request
_(I am forgoing your default feature request template, as it is overkill for this request.)_ PoGo updated, releasing new pokémon from the Sinnoh region. However, the current data does not contain these pokémon.

[2018-10-18 15:44] feralheart commented on #42
#40 and #39 also relates to this issue

Robert J. Walker <notifications@github.com> ezt írta (időpont: 2018. okt.
18., Csü 17:39):

[2018-10-18 15:57] #42 closed

[2018-10-18 16:30] BrunnerLivio commented on #41
Currently working on #43.

Got interrupted again, can not do it today, but at least there is a pokemon.json file being generated. But did not update any tests, nor the translation files are updated..

[2018-10-18 17:20] haynesherway commented on #41
I snagged the pokemon.json file from your commit, and that seems to work in my app at least, so thank you for getting that done @BrunnerLivio !

[2018-10-18 17:58] Drexlin commented on #41
Thanks @BrunnerLivio , I was able to use the new pokemon.json as well.

I was able to make some progress on the issue however. I'm not sure if the issue is with this repo or the gamemaster repo. Cherubi's evolution branch look like the following:

[code]

The last 2 entries are not needed, not sure why they are there. But if you remove them, the resulting gamemaster file works fine. Hope this help

[2018-10-18 18:10] BrunnerLivio commented on #41
@Drexlin
exactly, that is what caused the error obviously. I’ll investigate further into this, maybe the game master data itself was corrupted..

[2018-10-19 08:56] BrunnerLivio commented on #41
Seems like the Pokemon GO translation assets are not updated yet. [See issue here](https://github.com/ZeChrales/PogoAssets/issues/14). I want to wait until it is released, before I merge #43

[2018-10-19 09:08] BrunnerLivio opened #45 "Pokemons should contain their different forms as a map"
## Feature Request

**Is your feature request related to a problem? Please describe.**
Pokemons contains different form (Alolan, Water, Fairy etc.). A *root* Pokemon (e.g. Arceus) should contain a map of its different forms (e.g. Arceus Water, Arceus Fairy).

**Describe the solution you'd like**

[code]

[2018-10-19 10:04] Furtif commented on #45
@BrunnerLivio https://github.com/Furtif/POGOProtos/blob/master/src/POGOProtos/Enums/Form.proto#L105

[2018-10-23 10:00] feralheart commented on #39
Sorry this is a good project, but my bot can't afford one more "game master lag", so I searched for an always up-to-date `json` and I updated my import function to use that.

[2018-10-23 10:00] #39 closed

[2018-10-30 09:22] Sifogiannos commented on #1
Long time no see, i dont know if its a good idea but it just an opinion.
We could use the data form [https://www.serebii.net/pokemongo/pokemon.shtml](https://www.serebii.net/pokemongo/pokemon.shtml) to extract data for egg hatching and then merge them with the available data from game master.

What do you think?

[2018-10-30 19:07] BrunnerLivio commented on #1
@Sifogiannos
Hmm serebii is quite reliable, so I guess could be doable. Do not really have the time to implement it myself though :/

[2018-10-31 15:54] BrunnerLivio commented on #45
Thanks a lot @bytelabsco ! Great job

[2018-10-31 15:55] #45 closed

[2018-10-31 15:55] #40 closed

[2018-10-31 15:56] BrunnerLivio opened #47 "Translations are not up to date"
Issue tracker is **ONLY** used for reporting bugs. NO NEW FEATURE ACCEPTED!

## Expected Behavior
The new translations are not up to date

## Current Behavior
Not every pokemon does have the proper translation

## Possible Solution

[See issue here](https://github.com/ZeChrales/PogoAssets/issues/14)

[2018-11-02 08:23] BrunnerLivio commented on #25
:tada: This issue has been resolved in version 1.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/pokemongo-json-pokedex)
- [GitHub release](https://github.com/pokemongo-dev-contrib/pokemongo-json-pokedex/releases/tag/v1.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-11-02 08:23] BrunnerLivio commented on #26
:tada: This issue has been resolved in version 1.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/pokemongo-json-pokedex)
- [GitHub release](https://github.com/pokemongo-dev-contrib/pokemongo-json-pokedex/releases/tag/v1.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-11-02 08:24] BrunnerLivio commented on #17
:tada: This issue has been resolved in version 1.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/pokemongo-json-pokedex)
- [GitHub release](https://github.com/pokemongo-dev-contrib/pokemongo-json-pokedex/releases/tag/v1.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-11-06 14:05] Alucard2112 commented on #47
https://github.com/ZeChrales/PogoAssets has uploaded the missing translations as merged-number.txt :)

[2018-11-06 14:14] BrunnerLivio commented on #47
@Alucard2112 thanks a lot for the reminder.
Seems like this issue is way harder than expected. Now it is required to parse the merged_*.txt file, which will take quite some time..

[2018-11-15 09:40] Sifogiannos commented on #29
My vision was to create an offline helping tool for Pokemon GO so I created an android app, I will not post the URL of the app unless you allow me @BrunnerLivio because it contains ads I do not want to judge it as a self promotion.

I mainly use your files from outputs folder with a bit of manipulation to get the data into a structure more usable for my case.

Then I use your data to feed `ReactJS

[2018-11-15 12:28] luissmg commented on #29
@Sifogiannos I was building something just like this. But the interface was very similar to the original Pokemon GO app and it was with `React Native`. I will get back to it and share it too

[2018-11-15 13:23] Sifogiannos commented on #29
@luissmg I have started `React Native` this project once as i knew `ReactJS` but after some error in  compile when i updated `Android SDK ` and some components that did not work properly from a library i use in `React Native` pushed me away from doing it with `React Native`.

[2018-11-15 15:21] luissmg commented on #29
The trick is to not add any libraries until you are 100% sure you really need them. I was not using almost any external lib. I will share it with you soon!

[2018-11-19 15:28] Sifogiannos opened #49 "Latest GAME_MASTER"
Is there any way to insert a custom game master (I found the latest), to generate the new files in the outputs?

[2018-11-19 17:35] BrunnerLivio commented on #49
Technically yes. But I want to depend on the [pokemongo-game-master](https://github.com/pokemongo-dev-contrib/pokemongo-game-master) repository. Is the requested game master file not available there yet? If so, please create an issue on there.

[2018-11-19 18:07] celandro commented on #49
I just merged. Btw feel free to merge after approval, I am very busy with a new baby

[2018-11-19 18:33] BrunnerLivio commented on #49
@celandro Oh yes sure!
Congratulations !! :D

[2018-11-20 09:49] Sifogiannos commented on #49
First of all @celandro congratulations !!!
@BrunnerLivio  I saw that the repository you mentioned is updated, now is any command to rerun the "collector" to update the files in output folder. It might sounds silly but i did not found a command for this, sorry for questioning all the time.
I just run the following `npm install` and `npm start` but the pokemon file in output contains `undefined`.
I

[2018-11-20 13:11] BrunnerLivio commented on #49
`npm run install` - Install dependencies

`npm run update` - Will fetch all resources and writes the needed TypeScript interfaces (will get executed on postinstall)

`npm run start` - Runs the main application, which normalizes the fetched resources to the desired output

`npm run test` - Check whether the output is still valid and expected

I should document this properly..
Anyway - Yes there was

[2018-11-20 13:11] #49 closed

[2018-12-22 18:56] BrunnerLivio commented on #5
3.4.6 introduced legacy moves. Thanks @broglep!

[2018-12-22 18:56] #5 closed

[2018-12-23 15:49] petiebarie opened #53 "Only special legacy moves are included"
The new addition of legacy moves is a great idea, but i only see the community day moves (and those of Articuno/Zapdos/Moltres).

## Expected Behavior
For example if you look up Dragonite, i would expect:
Charge moves: Hurricane, Hyper Beam, Outrage
Legacy: Draco Meteor, Dragon Claw, Dragon Pulse

Fast moves: Dragon Tail, Steel Wing
Legacy: Dragon Breath

## Current Behavior
But i see:
Charge move

[2018-12-26 11:40] luissmg commented on #47
These translations also include the locales for Pokédex entries, right?

[2018-12-26 23:42] luissmg commented on #47
@BrunnerLivio Also, I don't know if this is related, but previous Pokémon like `Tangela` that now have evolution in gen 4 don't have any data in the `evolution` attribute.

[2018-12-27 12:00] BrunnerLivio opened #54 "Maintenance issue"
Hello everyone.

Since the last couple of months it got harder and harder to maintain this repository. Many new changes were introduced to the game master files of Pokemon GO, which all need to be handled seperately, making the development of this repo quite time consuming. I find it rather hard to get motivated to extend this repository, since this it does not serve and purpose for myself anymore

[2019-02-25 15:17] haideralipunjabi commented on #29
I gave it a shot with ReactJS and create-react-app

[Website](https://pokegodex.hackesta.org/), [Source Code](https://github.com/hackesta/pokemongo-pokedex)
![2019-02-25-204017_1920x1080_scrot](https://user-images.githubusercontent.com/11888687/53346784-c1e04700-393d-11e9-9c4a-0ec8559400e1.png)
![2019-02-25-204025_1920x1080_scrot](https://user-images.githubusercontent.com/11888687/53346785-c278dd8

[2019-04-16 16:42] manish4353 commented on #29
While accessing pokemon.json from outputs folder, there is no tag for pokemon image. From where we can access it, is there any other json just for that?

[2019-04-17 07:39] BrunnerLivio commented on #29
@manish4353 [This repo](https://github.com/ZeChrales/PogoAssets) provides all the assets